@media (max-width:767px) {

    // Index
    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
            "header"
            "text"
            "img"
            "form"
            "footer";

        .header {
            grid-area: header;
            width: 100vw;

            .colorNavBar .font .navbar-brand {
                font-size: 20px;

                .size-logo {
                    height: 82px;
                }
            }
        }

        .alturaMain {
            height: 855px;

            .containerIndex {
                display: flex;
                flex-direction: column;
                justify-content: center;

                .text {
                    grid-area: text;
                    justify-content: center;
                }

                .img {
                    grid-area: img;
                    text-align: center;
                    margin-top: 25px;
                }
            }

            .form {
                grid-area: form;
            }
        }

        .footer {
            grid-area: footer;
            width: 100vw;
        }
    }

    // Blends

    .container .styleTiposdeTe {
        width: 430px;
    }

    //Packs

    .alturaMainPacks {
        height: 712px;
    }

    // Gift Cards

    .imagenTeGC img {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    }

    //Envíos
    .container {
        .alturaMainEnvios {
            height: 525px;

            .styleGC {
                width: 340px;

                .list-style {
                    list-style: none;
                }
            }
        }
    }
}