.alturaMainPacks {
    height: 645px;

    .mainGiftCards {
        text-align: center;
        margin-bottom: 30px;
        display: flex;
        justify-content: center;

        .styleGC {
            background-color: $color6;
            max-width: 550px;
            border-radius: 35px;
            color: $color7;

            .fontGiftCards {
                font-family: 'Quicksand', sans-serif;
            }
        }
    }

    .imagenTe {
        justify-content: center;
        display: flex;

        img {
            max-width: 350px;
            border: 3px solid black;
            justify-content: center;
        }
    }
}