$color1: rgb(81, 226, 79);
$color2: rgb(93, 174, 49);
$color3: rgb(8, 63, 8);
$color4: rgb(56, 172, 60);
$color5: rgb(127, 223, 131);
$color6: rgb(159, 241, 149);
$color7: rgb(49, 121, 9);
$color8: rgb(36, 86, 17);
$color9: rgb(122, 216, 128);